{% extends 'base.html'%}
{%load crispy_forms_tags %}
{% load custom_filters %}
{%load static%}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/video_details.css' %}">
{%endblock%}
{%block content%}
<div class="page_container">
  <div class="details_container">
    <div class="stream_video">
      <iframe src="https://www.youtube.com/embed/{{vid_q.link|video_id}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="vid_title">
      <strong>{{vid_q.title}}</strong>
    </div>
    <div class="category">
      Category: {{vid_q.category}}
    </div>
    <br>
    <hr>

    <div class="comment_count">
         <h2>{{comments.count}} Comments</h2>
    </div>

    <div class="comment_form_container">
      <form class='comment_form' action="{%url 'app_video:vid_details' pk=vid_q.pk %}"method="post">
        {%csrf_token%}
        {{form.comment_text }}
        <button class='form_input_button' type="submit">Comment</button>
      </form>
    </div>
    
    {%if comments%}
    {% for c in comments %}
    <div class="comment_container">
      <div class="user_img">
        <img src="{% static 'img/default profile.jpg' %}" alt="User Photo">
      </div>
      <div class="comment_details">
        
        <div class="comment_user">
             <strong>{{c.user}}</strong> <small>{{c.comment_date}}</small>
        </div>
        <div class="comment_text">
          {{c.comment_text}}
        </div>
      </div>
      
    </div>
    {%endfor%}
    {%endif%}
  </div>


  <div class="video_list_container">
    {%for v in video%}
    <div class="card">
      <div class="img_container">
        <img src="{{v.thumbnail}}" alt="Thumbnail">
      </div>
      <div class="vid_info">
        <a href="{% url 'app_video:vid_details' pk=v.pk %}">{{v.title|range_filter}}</a>
        <strong>Category: {{v.category}}</strong>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}