{% extends 'base.html'%}
{%load crispy_forms_tags %}
{%load static%}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{%endblock%}
{%block title%}User Login{%endblock%}
{%block content%}
<div class="login_container">
  <div class="form_container">
    <form method="POST">
      {%csrf_token%}
      {{ form|crispy }}
    </form>
    <button type="submit"><a href="#">Login</a></button>
    <br>
    <p>Dont have an account?<a href="#">Sign Up</a></p>
  </div>
  
</div>


{%endblock%}

