{% extends 'base.html'%}
{%load crispy_forms_tags %}
{%load static%}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{%endblock%}
{%block title%}User Profile{%endblock%}
{%block content%}

<div class="user_profile_container">
  <div class="profile_img">
    <img src="/media/{{profile.profile_pic}}" alt="profile_photo">
    <h2>{{profile.user.username|upper}}</h2>
    <div class="welcome_note">
      <h2>Welcome Rakib</h2>

    </div>
  </div>
  <hr>

</div>


{%endblock%}