.user_profile_container{
  width: 95%;
  background-color: white;
  height: 550px;
  border-radius: 10px;
  margin:3px auto 0 auto;
  display: flex;
  flex-direction: row;
}
.profile_img{
height: 100%;
width: 25%;
background-color: whitesmoke;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;



}
.profile_img img{
  width: 70%;
  height: 250px;
  border-radius: 200px;
  margin-bottom: 5px;
}

.welcome_note{
  height: 150px;
  width: 300px;
  background-color: whitesmoke;
  margin-top: 40px;
  font-size: x-large;
  text-transform: capitalize;
}
.profile_details_container{
  width: 75%;
  height: auto;
  background-color: whitesmoke;
  
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

  margin: 5% 10% 0 5%;
  justify-items: center;
  
}
.profile_info h2{
  text-align: center;
  color: rgb(225, 28, 28);
}
.profile_info h3{
  color: rgb(8, 122, 140);
}
.light-text {
    font-weight: lighter;
    color: black; /* You can adjust the color to make it lighter */
}
.profile_edit_link{
  text-decoration: none;
  padding: 5px;
  border: 5px;
  color: black;
  width: 130px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(245, 75, 75);
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 85%;
}

