
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <title>StreamY</title>
</head>
<body>
  <header>
    <div class="logo_container"><a href="#"><img class='streamy_home' src='logo.jfif'alt="Logo"></a></div>
    <nav class="nav_bar">
      <a href="#">Category</a>
      <a href="#">About Us</a>
    </nav>
    <div class="search_bar">
      <input type="text" placeholder="Search using Category" id="search_input">
      <span class="material-symbols-outlined search_icon ">
        search
        </span>

    </div>
    <div class="action_bar">
      <div class="action_container">
        <span class="material-symbols-outlined">
          person
          </span>
        <span class="action_name">Profile</span>
        </div>
        <div class="action_container">
          <span class="material-symbols-outlined">
            login
            </span>
            <span class="action_name">Login</span>
        </div>
        <div class="action_container">
          <span class="material-symbols-outlined">
            logout
            </span>
            <span class="action_name">Logout</span>
        </div>

    </div>
  </header>
  <main>

  </main>
</body>
</html>